<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.pfd_ocbc">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PFD_OCBC.NoActionBar">
        <activity android:name=".GiroDetailsActivity"></activity>
        <activity android:name=".GiroAcceptedListActivity" />
        <activity android:name=".GiroOptionsActivity" />
        <activity
            android:name=".AccountSelectorActivity"
            android:exported="false" />
        <activity
            android:name=".QRCodeScannerActivity"
            android:label="@string/title_activity_qrcode_scanner"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar.NoActionBar" />
        <activity
            android:name=".ViewQRActivity"
            android:label="@string/title_activity_view_qractivity"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar.NoActionBar" />
        <activity
            android:name=".ReceiverAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ShowAllTransactions"
            android:exported="false"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".NricTransferActivity"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".AccountTransferActivity"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" /> <!-- <activity -->
        <!-- android:name=".SettingOtpActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".OtpActivity"
            android:exported="false"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".TransferConfirmationActivity"
            android:exported="true"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".AmountConfirmationActivity"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="true"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".PersonalDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MobileTransferActivity"
            android:label="@string/title_activity_mobile_transfer"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".MobileNumberActivity"
            android:theme="@style/Theme.PFD_OCBC.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>